<html>
    <head>
    </head>
    <body style="background: whitesmoke; padding: 20px;">
        <div>
            <div style="background-color: rgb(0, 71, 163); color: white; width: 100%;">
                <h2 style="padding: 20px 20px 0px">My Makeup Claim</h2>
                <h3 style="padding: 0px 20px 20px">Adventist University of Central Africa</h3>
            </div>
            <div style="color: black; width: 100%;">
                <p>Hi {{name}},</p>    
                <p>Your claim has been successfuly initiated.</p>
                <p>This is to also remind you that you need to complete your claim process by providing all other required information before the next exam period for the course(s) you claimed for is reached.
                    <br/>This will give enough time for all personnel responsible for providing approval to analyse it and sign it.
                </p>
            </div>
        </div>
    </body>
</html>